body,html
{
padding:0;
margin:0;
font-family:sans-serif;
}
header
{position:fixed;
background-color:white;
width:100%;
z-index:1;

}
.sec{
background-color:red;
width:
}
.sec img{
width:100%;
height:600px;
}

.pillow
{

position:absolute;
left:100px;
top:30px;

}

.dropdown
{


}
.dropdown ul 
{position:absolute;
left:350px;
top:5px;
list-style-type:none;
display:flex;
position:relative;
}
.dropdown ul li
{padding:30px;
font-size:17px;

}
.dropdown ul li a
{text-decoration:none;
color:rgb(55,0,111);
}
.dropdown ul li a:hover
{color:rgb(182,108,255);

}
.cart
{position:absolute;
top:40px;
left:1200px;

}
.search
{position:absolute;
top:40px;
left:1150px;

}
.submenu
{display:none;
}
.dropdown ul li:hover .submenu 
{display:block;

}
.dropdown ul li:hover .submenu ul
{display:block;
background:#b08ead;
position:absolute;
left:260px;
top:80px;
width:150px;
border-radius:5px;
z-index:2;

}


.dropdown ul li:hover .submenu .pagesmenu
{display:block;
background:#b08ead;
position:absolute;
left:380px;
z-index:2;
top:80px;
width:130px;
border-radius:5px;
}
.dropdown ul li:hover .submenu .blog-men
{display:block;
background:#b08ead;
position:absolute;
left:490px;
z-index:2;
top:80px;
width:130px;
border-radius:5px;
}
.dropdown ul li:hover .submenu ul li 
{
margin-left:-20px;
font-size:15px;
padding-top:10px;
padding-bottom:10px;
padding-left:0px;


}
.dropdown ul li:hover .submenu ul li a
{
color:white;
}

.content1
{
background:white;
width:100%;
display:flex;
flex-direction:row;
flex-wrap:wrap;

}
.divvi1
{
margin-top:15%;
margin-bottom:10%;
width:35%;
background:white;
margin-left:100px;
}

 .first .bestpillow
{font-size:80px;
color:rgb(81,0,81);

}
 .first .p1
{color:rgba(81,0,81,0.8);

font-size:20px;
margin-top:-70px;
}
 .sec
{height:550px;
width:655px;

}
.first button
{
width:40%;
padding:25px;
outline:none;
border-radius:10px;
background:#b08ead;
color:white;
font-weight:bold;
font-size:17px;
margin-top:40px;
}
.first button:hover
{border:2px solid #b08ead;
background:white;
color:#b08ead;
}

.content2
{background:white;
width:100%;
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
.divvi2
{
height:450px;
width:500px;
background:white;
margin-top:60px;
margin-left:130px;
}
.first2
{box-shadow:-35px -35px #b08ead;
}
.sec2 p
{
color:rgba(81,0,81,0.8);
font-size:20px;
margin-top:30px;
}
.sec2 .p1
{
color:rgb(81,0,81);
font-size:50px;
margin-top:20px;
}
.sec2 button
{
width:200px;
padding:25px;
outline:none;
border-radius:10px;
font-weight:bold;
font-size:17px;
margin-top:-10px;
border:2px solid #b08ead;
background:white;
color:#b08ead;
}
.sec2 button:hover
{
background:#b08ead;
color:white;
}

.content3
{background:white;
width:100%;
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
.divvi3
{
height:450px;
width:500px;
background:white;
margin-top:5%;
margin-bottom:5%;
margin-left:100px;
}
.sec3
{box-shadow:35px -35px #b08ead;
}
.first3 p
{
color:rgba(81,0,81,0.8);
font-size:20px;
margin-top:30px;
}
.first3 .p1
{
color:rgb(81,0,81);
font-size:50px;
margin-top:20px;
}
.first3 button
{
width:200px;
padding:25px;
outline:none;
border-radius:10px;
font-weight:bold;
font-size:17px;
margin-top:-10px;
border:2px solid #b08ead;
background:white;
color:#b08ead;
}
.first3 button:hover
{
background:#b08ead;
color:white;
}
.content4
{background:white;
width:100%;

display:flex;
flex-direction:row;
flex-wrap:wrap;
}
.divvi4
{
height:450px;
width:500px;
background:white;
margin-top:5%;
margin-bottom:5%;
margin-left:130px;
}
.first4
{box-shadow:-35px -35px #b08ead;
}
.sec4 p
{
color:rgba(81,0,81,0.8);
font-size:20px;
margin-top:30px;
}
.sec4 .p1
{
color:rgb(81,0,81);
font-size:50px;
margin-top:20px;
}
.sec4 button
{
width:200px;
padding:25px;
outline:none;
border-radius:10px;
font-weight:bold;
font-size:17px;
margin-top:-10px;
border:2px solid #b08ead;
background:white;
color:#b08ead;
}
.sec4 button:hover
{
background:#b08ead;
color:white;
}
.content5
{background:rgba(215,215,215,0.3);
width:100%;


position:relative;
}
.item
{height:400px;
width:340px;
background:white;

margin-top:10%;
margin-bottom:5%;
margin-left:80px;
float:left;
}

.item p
{font-size:25px;
color:rgb(81,0,81);
}
.item p:hover
{color:rgba(81,0,81,0.8);
}
.item .p1
{font-size:20px;
color:rgba(81,0,81,0.8);
}
.trend
{text-align:center;
color:black;
font-weight:bold;
font-size:40px;
position:absolute;
top:40px;
left:500px;
}
.content6
{
width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
background-color:#b08ead;


}
.division
{width:250px;
height:20%;
margin:20px;
margin-top:5%;
margin-bottom:5%;
margin-left:10%;
position:relative;
color:white;

}



.namme
{font-weight:bold;
font-size:25px;
color:white;
text-align:center;
padding:0px;
}
.para1
{text-align:center;
}
.para2
{font-size:15px;
text-align:left;
padding:0px;
margin-left:10%;
}
.content7
{
width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
background-color:#fff;

}
.t
{

width:35%;
background:white;
margin-top:10%;
margin-left:100px;
margin-bottom:5%;
}
.t1
{width:40%;
}

.textinbold
{font-size:250%;
padding:30px;
color:rgb(81,0,81);

}
.smallwriting
{font-size:100%;
padding-top:14%;
color:rgb(81,0,81);
}
.content8
{
width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
background-color:white;
position:relative;
}
.help
{
width:20%;
height:40%;
background-color:white;
margin-top:5%;
margin-left:100px;
margin-bottom:10%;
border:1px solid rgb(215,215,215);
}
.helppara
{text-align:center;
font-size:120%;
}
.help-image
{
padding-top:15%;
padding-left:40%;
}
.content9
{width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
background-color:#4b3049;
}
.innerdiv
{
width:50%;
height:40%;
background-color:#4b3049;
margin-top:15%;
margin-left:25%;
margin-bottom:20%;

}
form
{width:90%;
height:20%;
border:2px solid white;
background:#4b3049;
margin-left:5%;
border-radius:40px;
margin-top:7%;
padding:10px;
}
input
{margin-top:1%;
margin-left:1%;
}
input[type="text"]
{width:67%;
height:50%;
color:white;
outline:none;
padding-left:3%;
background:#4b3049;
border:1px solid #4b3049;

}
::placeholder
{
color:white;
}
input[type="submit"]
{width:25%;
padding:15px;
color:white;
font-size:120%;
border-radius:40px;
background:#b08ead;
}
.content10
{
width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
}
footer
{margin-top:5%;
margin-bottom:10%;
background:white;
width:100%;
position:relative;
}
.footerpillow
{position:absolute;
top:40px;
left:100px;
}

.dropdown .ull
{position:relative;
left:300px;
padding:10px;
}
.footerend
{width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
background:#f4edf2;
}
.copyryt{
margin:30px;
margin-left:100px;
color:purple;
}
.terms
{ margin:30px;
color:purple;
margin-left:300px;
}
.faq
{margin:30px;
color:purple;
}

/* MEDIA QUERRY */
@media(max-width:440px){

.bodycontainer
{
display:grid;
grid-template-areas:
'header'
'content1'
'content2'
'content3'
'content4'
'content5'
'content6'
'content7'
'content8'
'content9'
'content10'
'footerend';
}


.pillow
{
grid-area:pillow;
position:static;
width:70%;
margin-left:10%;
margin-top:10%;
}
.dropdown
{
position:static;
grid-area:dropdown;
}

.search{
position:static;
grid-area:search;
margin-left:140px;
margin-top:20%;
width:30%;
}
.cart
{
position:static;
grid-area:cart;
margin-top:60%;
width:80%;
}
.dropdown ul 
{position:static;
margin:0px;
padding:0px;
flex-direction:column;
text-align:center;
}
.dropdown li a
{font-size:200%;
}
.submenu ul li a:hover
{display:none;
}

header{
position:static;
display:grid;
grid-template-areas:
'pillow pillow pillow search cart'
'dropdown dropdown dropdown dropdown dropdown' ;
grid-area:header;

}

.first
{
width:100%;
margin-left:5%;
margin-top:5%;
margin-right:5%;

}

.first .p1
{
font-size:220%;

}

.first .bestpillow
{font-size:350%;

margin-top:0;
margin-bottom:15%;
}
.first button, .sec2 button ,.first3 button,.sec4 button
{
font-size:35px;
margin-left:3%;
margin-top:0%;
}
.sec2 button,.first3 button,.sec4 button,.first button
{width:70%;
margin-left:0;
}
.sec
{
margin:10px;
}

.sec img
{
width:80%;
height:400px;
margin-left:30%;
}
.first2 ,.first4
{
margin-left:10%;
box-shadow:-60px -60px #b08ead;
}
.first2 img ,.first4 img
{width:90%;
margin-left:0%;
height:10%;
}
.sec2,.sec4
{margin-left:5%;
}
.sec2 p,.first3 p,.sec4
{font-size:200%;

}
.first3
{grid-area:first3;
margin-left:5%;
}


.sec3
{
grid-area:sec3;
margin-top:20%;
margin-left:5%;
box-shadow:60px -60px #b08ead;
}
.first4
{margin-top:20%;
}
.trend
{font-size:350%;
margin-left:-50%;
margin-top:-6%;
}
.item
{width:90%;
margin-left:5%;
margin-right:5%;
margin-bottom:40%;

}
.item p,.item .p1
{font-size:250%;
}
 .i
{margin-bottom:50%;
}
.division
{width:100%;
}
.namme
{font-size:300%;
}
.division .para1,.division .para2
{font-size:200%;
}
.im
{
margin-left:-10%;
}
.t
{width:100%;
margin-left:5%;


}
.t2
{margin-top:-20%;

}
.smallwriting
{font-size:200%;
margin-left:5%;

}
.textinbold
{font-size:350%;
}
.help 
{
width:100%;


}
.helppara
{font-size:250%;
}
.help-image
{width:20%;
}
.ii
{width:40%;

}
 .ccp
{margin-left:2%;
}
.innerdiv p
{font-size:200%;
padding:10%;
margin-left:-30%;
}
.innerdiv h1
{font-size:200%;

margin-left:-20%;
}
.innerdiv
{width:100%;
}
form
{
height:50%;
margin-left:-20%;
margin-top:7%;
border-radius:60px;
width:100%;
padding:5%;
}
input
{margin-top:1%;
margin-left:2%;

}
input[type="text"]
{width:50%;
height:40%;
color:white;
outline:none;
padding-left:3%;
background:#4b3049;
border:1px solid #4b3049;
font-size:220%;

}

input[type="submit"]
{width:35%;
padding:10px;
color:white;
font-size:220%;
border-radius:40px;
background:#b08ead;

}
.footerpillow
{width:50%;
margin-left:10%;
}
.ss
{width:50%;


}

.content10
{
width:100%;
flex-direction:row;
flex-wrap:wrap;
display:flex;
}
footer
{margin-top:5%;
margin-bottom:10%;
background:white;
width:100%;
position:relative;
}
.faq
{margin-left:20%;
}

.dropdown .ull
{position:relative;
left:0%;
margin-top:20%;
}

.footerend p
{
font-size:200%;

}


.content1{
grid-area:content1;
}

.content2{
grid-area:content2;

}
.content3
{grid-area:content3;
position:static;
display:grid;
grid-template-areas:'sec3'
'first3';
}
.content4
{grid-area:content4;
}
.content5
{grid-area:content5;
margin-left:4%;
margin-right:5%;
}
.content6
{
grid-area:content6;
margin-left:4%;
margin-right:5%;
}
.content7
{
grid-area:content7;


}
.content8
{
grid-area:content8;
margin-left:3%;
margin-right:5%;
}
.content9
{
grid-area:content9;
margin-left:4%;
margin-right:5%;
}

.content10
{
grid-area:content10;

}

.footerend
{
grid-area:footerend;
margin-left:4%;
margin-right:5%;
width:100%;
}

.terms
{ margin:30px;
color:purple;
margin-left:10%;
}
.copyryt
{
margin-left:10%;
}




}


